.styled_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled_table th,
.styled_table td {
    padding: 12px 15px;
}
.styled_table tbody tr {
    border-bottom: 'thin' solid #dddddd;
}

.styled_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled_table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
  background-color: #e8ebe9;
}
