.styled_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled_table th,
.styled_table td {
    padding: 12px 15px;
}
.styled_table tbody tr {
    border-bottom: 'thin' solid #dddddd;
}

.styled_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled_table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
  background-color: #e8ecef;
}
.main {
  height: calc(100% - 50px);
  display: flex;
  flex: 1;
}
.sidebar {
  height: 100%;
  width: 220px;
  box-sizing: border-box;
  box-shadow: 0 0 2rem 0 rgb(0 0 0 / 5%);
  overflow: hidden;
  transition: width 0.5s ease;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.sidebar ul li {
  display: flex;
  align-items: center;
}
.sidebar ul li a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
}
.sidebar ul li a.active,
.sidebar ul li a:hover {
  background: #e8ecef;
}
.container.nav-closed .sidebar,
.container.nav-closed .header-logo {
  width: 0;
}

.sidebar ul li span {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 100;
}
.sidebar ul li i {
  font-size: 18px;
  color: #111;
  font-weight: normal;
}

.sidebar ul li a.active i {
  color: #303f9e;
}
.page-content {
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  flex: 1;
}
.page-content h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
}
@media screen and (max-width: 991px) {
  .page-content {
    width: 100vw;
  }
}
@media screen and (max-width: 767px) {
  .header-logo {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

.content-selection {
  margin: 0 auto;
}

.content-selection select {
  width: 10rem;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border-radius: 0;
  height: 34px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 0 #ccc;
  -moz-box-shadow: ;
  box-shadow: ;
}
select {
  background: #e8ecef;
  color: black;
}
