{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body_block %}
{% load static %}
<div class="container container__item landing-page-container">
  <div class="content__wrapper">
    <div class="main">
    <div class="sidebar">
      <ul>
        <li><a href="" class = "active"><i class=""></i><span>Top 10 Bowlers</span></a></li>
        <li><a href="{% url 'analysis:bowler_match_wise' %}"><i class=""></i><span>Match Wise</span></a></li>
      </ul>
    </div>
    <div class="page-content">
      <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary" value="Submit">
     </form>
      <br/>
     {% if file_path %}
      <img src="{% static file_path %}" class="img-fluid" alt="Top 10 Bowlers">
     {% endif %}
      
      {% if is_data_exist == False %}
        <div class="alert alert-danger" role="alert">
            No Data To Display
        </div>
      {% endif %}
    </div>
  </div>
</div>
  </div>

{% endblock %}
