{% extends 'base.html' %}

{% block body_block %}
<div class="container container__item landing-page-container">
  <div class="content__wrapper">
    <div class="main">
    <div class="sidebar">
      <ul>
        <li><a href="{% url 'analysis:bowler_top10' %}"><i class=""></i><span>Top 10 Bowlers</span></a></li>
        <li><a href="" class="active"><i class=""></i><span>Bowlers Wickets</span></a></li>
        <li><a href="{% url 'analysis:bowlers_rival' %}""><i class=""></i><span>Rivalry Batsman</span></a></li>
      </ul>
    </div>
    <div class="page-content">
      <div class="content-selection">Select any one Match from the List :
        <select id="mySelect" onchange="npup.doSelect(this);">
          <option value="">Select</option>
          <option value="0">zero</option>
          <option value="1">one</option>
          <option value="2">two</option>
        </select>
      </div>
      <br>
      <div id="mySpecialElements">
        <div id="npup0" class="hidden">
          <h3>Division 0</h3>
          <p>Content for div 0.</p>
        </div>
        <div id="npup1" class="hidden">
          <h3>Division 1</h3>
          <p>This content for div 1</p>
        </div>
        <div id="npup2" class="hidden">
          <h3>Division 2</h3>
          <p>This is Div 2 content.</p>
        </div>
    </div>
  </div>
</div>
  </div>

{% endblock %}
