{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="container container__item landing-page-container">
  <div class="content__wrapper">
    <div class="main row">
    <div class="sidebar col-sm-6 col-lg-3 col-md-3">
      <ul>
        <li><a href="{% url 'analysis:bowler_top10' %}"><i class=""></i><span>Top 10 Bowlers</span></a></li>
        <li><a href="{% url 'analysis:bowler_match_wise' %}"><i class=""></i><span>Match Wise</span></a></li>
      </ul>
    </div>
    <div class="page-content col-sm-6 col-lg-9 col-md-9">
      <h1 align = "center">Welcome to Bowler's Analysis Page!!</h1>
      <div><img src="{% static 'images/bowlers.jpg' %}" alt="bowlers image" class="center-img" height="400rem"></div>
    </div>
  </div>
</div>
  </div>

{% endblock %}
