{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body_block %}


<div class="container container__item landing-page-container">
  <div class="content__wrapper">
    <div class="main row">
    <div class="sidebar col-sm-6 col-lg-3 col-md-3">
      <ul>
        <li><a href="{% url 'analysis:batsmen_top10' %}"><i class=""></i><span>Top 10 Batsmen</span></a></li>
        <li><a href="{% url 'analysis:batsmen_match_wise' %}"><i class=""></i><span>Macth Wise</span></a></li>
        <li><a href="{% url 'analysis:batsmen_dismissal' %}"><i class=""></i><span>Batsmen Dismisal</span></a></li>
        <li><a href="{% url 'analysis:batsmen_sixes' %}"><i class=""></i><span>Six Hitters</span></a></li>
        <li><a href="" class="active"><i class=""></i><span>Four Hitters</span></a></li>
      </ul>
    </div>
    <div class="page-content col-sm-6 col-lg-9 col-md-9">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" value="Submit">
       </form>
        {% if file_path %}
        <img src="{% static file_path %}" class="img-fluid" alt="Top10 Six Hitters">
        {% endif %}
        <br/>
        {% if is_data_exist == False %}
        <div class="alert alert-danger" role="alert">
            No Data To Display
        </div>
        {% endif %}
    </div>
  </div>
</div>
  </div>

{% endblock %}
