{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body_block %}

<div class="container container__item landing-page-container">
  <div class="content__wrapper">
    <div class="main">
    <div class="sidebar">
      <ul>
        <li><a href="{% url 'analysis:batsmen_top10' %}"><i class=""></i><span>Top 10 Batsmen</span></a></li>
        <li><a href="" class="active"><i class=""></i><span>Batsmen Dismisal</span></a></li>
        <li><a href=""><i class=""></i><span>Macth Wise</span></a></li>
        <li><a href="{% url 'analysis:batsman_mom' %}""><i class=""></i><span>MOM Batsman</span></a></li>
        <li><a href="{% url 'analysis:batsmen_sixes' %}"><i class=""></i><span>Six Hitters</span></a></li>
        <li><a href="{% url 'analysis:batsmen_fours' %}"><i class=""></i><span>Four Hitters</span></a></li>
      </ul>
    </div>
    <div class="page-content">
        <h1>Batsman vs Bowler Head to Head</h1>
        {% if data %}
          <div class="col">
            <table class="styled_table">
              <thead>
                <th>Batsman</th>
                <th>Bowler</th>
                <th>No. of Times Dismissed</th>
              </thead>
            {% for value in data %}
              <tbody>
                <tr>
                  <td>{{ value.batsmen_name }}</td>
                  <td>{{ value.bowler_name }}</td>
                  <td>{{ value.no_of_wickets }}</td>
                </tr>
              </tbody>
            {% endfor %}
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
