{% extends 'base.html' %}

{% block body_block %}
<div class="container container__item landing-page-container">
  <div class="content__wrapper">

    <header class="header">
        <h1 class="heading header__item">Top 10 Batsman of 2019!</h1>
    </header>

    <table class="styled_table">
      <thead>
        <th>Name of the Batsman</th>
        <th>Runs Scored in 2019</th>
      </thead>
      {% for batsman in object_list %}
      <tbody>
        <tr>
          <td>{{ batsman.name }}</td>
          <td>{{ batsman.runs }}</td>
        </tr>
      </tbody>
      {% endfor %}

    </table>
  </div>

</div>

{% endblock %}
