{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body_block %}
<div class="container container__item landing-page-container">
  <div class="content__wrapper">
    <div class="main row">
    <div class="sidebar col-sm-6 col-lg-3 col-md-3">
      <ul>
        <li><a href="" class="active"><i class=""></i><span>Max Win</span></a></li>
        <li><a href="{% url 'analysis:team_winning_percentage' %}"><i class=""></i><span>Winning Toss</span></a></li>
        <li><a href="{% url 'analysis:team_man_of_the_match' %}"><i class=""></i><span>Man of the Match</span></a></li>
      </ul>
    </div>
    <div class="page-content col-sm-6 col-lg-9 col-md-9">
      <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary" value="Submit">
     </form>
      {% if is_data_exist == True %}
      <h1>Stadium name where team has won maximum match</h1>
        <div class="col">
          <table class="styled_table">
            <thead>
              <th>Team</th>
              <th>Stadium</th>
              <th>Matches Won</th>
            </thead>
          {% for value in file_path %}
            <tbody>
              <tr>
                <td>{{ value.winner }}</td>
                <td>{{ value.venue }}</td>
                <td>{{ value.matches_won }}</td>
              </tr>
            </tbody>
          {% endfor %}
          </table>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
